/* Cross-browser support for flex display */
.flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* Flex Y-axis center */
.FY-center {
    align-items: center;       /* Align items vertically center */
}

.F-center {
    align-items: center;
    justify-content: center;
}

.F-space {
    justify-content: space-between;
}

.F-end {
    align-items: flex-end;
}

.FX-end {
    justify-content: flex-end
}

.FW {
    flex-direction: column;
}

.F-start {
    justify-content: flex-start;
}